<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="doppler" translate="label" sortOrder="999999" class="doppler-tab">
            <label>Doppler</label>
        </tab>
        <section id="doppler_config" translate="label" type="text" sortOrder="-5000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label><![CDATA[Email & Automation Marketing]]></label>
            <tab>doppler</tab>
            <resource>Combinatoria_Doppler::configuration</resource>
            <group id="config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"  showInStore="1">
                <label>Connect your Magento store with Doppler</label>
                <field id="author" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[When you synchronize, you can send automatically your Client's information to your Doppler account. You will be able to create Lists, import your products into customizable Email Templates and design Abandoned Cart and Visited Product Automations. Any doubts? Just press <a href='https://help.fromdoppler.com/en/how-to-integrate-your-magento-account-with-doppler/'>HELP</a>.]]></label>
                    <frontend_model>Combinatoria\Doppler\Block\Adminhtml\Paragraph</frontend_model>
                </field>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment><![CDATA[By enabling this connection, you agree to Doppler's <a href='https://www.fromdoppler.com/en/legal/terms/?utm_source=integracion&utm_medium=integracion&utm_campaign=magento'>Terms and Conditions</a>.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="username" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                    <comment>This is your Doppler User Email</comment>
                    <validate>validate-email</validate>
                    <backend_model>Combinatoria\Doppler\Model\Config\Backend\Username</backend_model>
                </field>
                <field id="key" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API key</label>
                    <comment><![CDATA[Where is your API Key? Just press <a href='https://help.fromdoppler.com/en/where-do-i-find-my-api-key/'>HELP</a>]]></comment>
                    <validate>validate-alphanum</validate>
                    <backend_model>Combinatoria\Doppler\Model\Config\Backend\Key</backend_model>
                </field>
                <field id="test" translate="label comment button_label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test connection</label>
                    <button_label>Test</button_label>
                    <button_url>doppler/test/connection</button_url>
                    <frontend_model>Combinatoria\Doppler\Block\Adminhtml\System\Config\TestButton</frontend_model>
                </field>
            </group>
            <group id="synch" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"  showInStore="1">
                <label>Synchronization</label>
                <field id="synchtext" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>To connect your Magento store with Doppler, you must select the information you want to link between both platforms.</label>
                    <frontend_model>Combinatoria\Doppler\Block\Adminhtml\Paragraph</frontend_model>
                </field>
                <field id="enabled_cron" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled Synchronization Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Synchronization Cron Frequency</label>
                    <source_model>Combinatoria\Doppler\Model\System\Config\Source\Cron\Frequency</source_model>
                </field>
                <field id="synch_customers" translate="label comment button_label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Synchronize Lists</label>
                    <button_label>Synch</button_label>
                    <button_url>doppler/synch/customers</button_url>
                    <frontend_model>Combinatoria\Doppler\Block\Adminhtml\System\Config\SynchCustomersButton</frontend_model>
                </field>
            </group>
            <group id="scripts" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"  showInStore="1">
                <label>Scripts</label>
                <field id="scriptstext" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Here you can add the scripts, either to embed a Pop up that you have created in Doppler on your Website or to track the behavior of Users on your Website. The scripts you enter will work whether you have an active integration.</label>
                    <frontend_model>Combinatoria\Doppler\Block\Adminhtml\Paragraph</frontend_model>
                </field>
                <field id="popup_head" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup Head</label>
                </field>
                <field id="popup_body" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup Body</label>
                </field>
                <field id="tracking" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracking</label>
                </field>
            </group>
        </section>
    </system>
</config>
